# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
series1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
series2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
series3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
excerciseHouse= pd.concat([series1, series2, series3], axis=1)
excerciseHouse.head()

   0  1      2
0  2  1  22408
1  1  3  26453
2  4  1  23230
3  1  1  12389
4  1  1  28618

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
excerciseHouse.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'})
excerciseHouse.head()

   0  1      2
0  2  1  22408
1  1  3  26453
2  4  1  23230
3  1  1  12389
4  1  1  28618

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
BigColumn = pd.concat([series1, series2, series3])
BigColumn = BigColumn.to_frame()
print(BigColumn)

        0
0       2
1       1
2       4
3       1
4       1
5       4
6       3
7       1
8       1
9       4
10      3
11      1
12      3
13      2
14      4
15      2
16      4
17      1
18      1
19      4
20      4
21      2
22      1
23      1
24      3
25      2
26      2
27      3
28      1
29      3
..    ...
70  18958
71  17768
72  24760
73  12574
74  17934
75  18783
76  12340
77  21296
78  17089
79  28420
80  25572
81  17527
82  19931
83  12470
84  10355
85  18112
86  16040
87  26729
88  21103
89  19517
90  18691
91  20600
92  25185
93  23593
94  10441
95  11165
96  21483
97  10416
98  22961
99  21279

[300 rows x 1 columns]

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [6]:
len(BigColumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
BigColumn.index=range (0,300)
print(BigColumn)

         0
0        2
1        1
2        4
3        1
4        1
5        4
6        3
7        1
8        1
9        4
10       3
11       1
12       3
13       2
14       4
15       2
16       4
17       1
18       1
19       4
20       4
21       2
22       1
23       1
24       3
25       2
26       2
27       3
28       1
29       3
..     ...
270  18958
271  17768
272  24760
273  12574
274  17934
275  18783
276  12340
277  21296
278  17089
279  28420
280  25572
281  17527
282  19931
283  12470
284  10355
285  18112
286  16040
287  26729
288  21103
289  19517
290  18691
291  20600
292  25185
293  23593
294  10441
295  11165
296  21483
297  10416
298  22961
299  21279

[300 rows x 1 columns]